*{
    box-sizing: border-box;

}
html{
    background-color: rgb(212, 212, 212);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
main{ 
width: 70%;
margin: 0 auto;
}
figure{
    flex-basis: 300px;
    max-width: 500px;
    margin: auto;
}
h1,h2{
    font-family:'Times New Roman', Times, serif; 
    text-align: center;

}

img {
    width: 100%;
}
p{
    margin-top: 1em;
}

section{
    flex-basis: 300px;
    flex-grow: 1;
    
}
footer{
    text-align: center;
    font-size: small;
}
div{text-align: center;
}
ul{
    display: inline-block; text-align: left;
}